a{
  text-decoration: none;
  color: #5a5a5a;
}

.icon{
  cursor: pointer;
}

.flex-div{
  display: flex;
  align-items: center;

}

nav{
  padding: 10px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-right .icon-right{
  width: 25px;
  margin-right: 25px;
  font-size: 22px;
  cursor: pointer;
}

.nav-left .menu-icon{
  width: 22px;
  margin-right: 25px;
  font-size: 22px;
  cursor: pointer;
}