.sidebar{
  background: white;
  width: 15%;
  height: 100vh;
  position: fixed;
/*   top: 0; */
  padding-left: 2%;
  padding-top: 80px;
  z-index: 15;
  display: none;
}

.short-links a .icon{
  width: 20px;
  margin-right: 20px;
}

.short-links a{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  width: fit-content;
  flex-wrap: wrap;
}

.short-links a:first-child{
  color: #f7b140;
}

.sidebar hr{
  margin-top: 80px;
  border: 0;
  height: 2px;
  background: #ccc;
  width: 85%;
}

.short-links a:last-child{
  margin-top: 10px;
}